/* Tag Selectors */
body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: 700;
  line-height: 1.5;
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-weight: 700;
  line-height: 1.5;
  color: black;
}

p {
    color: #8f8f8f;
}

/* ID selectors */

#title {
  background-color: #ff4c68;
  color: white;
}

#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

#pricing {
  padding: 100px;
}

#cta {
  background-color: #ff4c68;
  text-align: center;
}

#footer {
    text-align: center;
    padding: 7% 15% 3%;
    background-color: white;
}

/* Class selectors */

.carousel-item {
  padding: 7% 15%;
}

.container-fluid {
  height: 20%;
  padding: 3% 15% 7%;
}

.navbar-brand {
  position: relative;
  font-size: 2.5rem;
  font-family: "Ubuntu";
  font-weight: 600;
}

.navbar {
  margin-bottom: 75px;
  padding: 0;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.down-btn {
  margin: 5% 3% 5% 0;
}

.dog-phone {
  width: 60%;
  transform: rotate(25deg);
  margin: 5% 0 0 10%;
  position: absolute;
}

@media (max-width: 1028px) {
  .dog-phone {
    transform: rotate(0);
    position: static;
  }
  .container-fluid {
    text-align: center;
  }
}

.feat {
  text-align: center;
}

.feature-para {
  color: #8f8f8f;
  font-family: "Montserrat", sans-serif;
  padding: 0 23%;
}

.feature-images {
  color: #ef8172;
  font-size: 400%;
  margin-bottom: 20px;
}

.feature-images:hover {
  color: #ff4c68;
}

.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

.card {
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
}

.pricing-para {
  color: #8f8f8f;
}

.cta-container {
    padding: 7% 15%;
}

.cta-h3 {
    font-size: 3.5rem;
    line-height: 1.5;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.footer-icon {
    margin: 10px 20px;
}